# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/web-build

# expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-env.d.ts

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
.cache/

# System Files
Thumbs.db
